<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353062957106-7j1km8aaedp75rovbgl45u8mjac03lhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353062957106-7j1km8aaedp75rovbgl45u8mjac03lhg</string>
	<key>API_KEY</key>
	<string>AIzaSyCmkLs2O6Mf7UJhPUISKzABOR_O9XLIrD8</string>
	<key>GCM_SENDER_ID</key>
	<string>353062957106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.example</string>
	<key>PROJECT_ID</key>
	<string>starter-project-bbd45</string>
	<key>STORAGE_BUCKET</key>
	<string>starter-project-bbd45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353062957106:ios:a5f0f0430b85437f3c0c2b</string>
</dict>
</plist>